/*=========================== Google fonts link - Big Shoulders Display ===========================*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/*=========================== Google fonts link - Lexend Deca ===========================*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*=========================== Css variables ===========================*/

:root {
  /*======= Colors =======*/

  /* Primary */
  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan: hsl(184, 100%, 22%);
  --clr-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --clr-white: hsla(0, 0%, 100%, 0.75);
  --clr-gray: hsl(0, 0%, 95%);

  /*======= Typography =======*/
  --first-font: 'Lexend Deca', sans-serif;
  --second-font: 'Big Shoulders Display', cursive;

}

/*=========================== Html reset ===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/*=========================== Base ===========================*/

body {
  background-color: var(--clr-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-gray);
  font-family: var(--first-font);
}

/*=========================== 3 column cards ===========================*/
.card__container {
  max-width: 768px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-radius: 10px;
  overflow: hidden;
  margin: 1.25rem 0;
}

.card {
  padding: 2rem;
}

.card__icon {
  margin-bottom: 1.5rem;
}

.card__heading {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.card__description {
  line-height: 1.6;
  font-size: .913rem;
  font-weight: 300;
  margin-bottom: 6rem;
  color: var(--clr-white);
}

.orange--bg {
  background: var(--clr-orange);
}

.blue--bg {
  background: var(--clr-cyan);
}

.green--bg {
  background: var(--clr-dark-cyan);
}

.card__button {
  font-size: .913rem;
  background: hsl(0, 0%, 100%);
  padding: .75rem 1.25rem;
  border-radius: 25px;
  font-weight: 400;
  color: var(--color);
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 100%);
  transition: .3s;
}

.card__button:hover {
  background: transparent;
  color: hsl(0, 0%, 100%);
}